* {
  box-sizing: border-box;
}

#main {
  display: block;
  unicode-bidi: isolate;
}

#main .hero {
  padding: 56px 0 28px;
}

#main .hero .container {
  width: min(var(--max), calc(100% - 40px));
  margin:;
}
